@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* General CSS */
body, html {
    margin: 0;
    padding: 0;
    color: #ffffff; 
    background-color: #000000;
    font-family: Inter, 'sans-serif';
}

.section-heading-text {
    font-size: 35px;
    margin-bottom: 25px;
}

.project-section-heading-text {
    font-weight: 600;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
    /* margin-bottom: 10px; */
}

h5 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

a {
    font-weight: 200;
    color: #ffffff;
    transition: 0.1s;
    text-decoration: none;
    text-decoration-color: #d3d3d3;
    transition: 0.5s;
}

a.left
{
    position: relative;
}

hr {
    border: none;
    height: 1px;
    color: #333;  /* old IE */
    background-color: #333;
    margin-bottom: 0px;
}

#About-Me-Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 150px;
}

#About-Me-Container div {
    max-width: 552px;
}

#About-Intro {
    margin-bottom: 35px;
}

#About-Me-Container h1 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 48px;
}

#About-Me-Container h3 {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 0;
}

#About-Me-Container h4 {
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 25px;
}

#About-Me-Container p {
    font-size: 15.5px;
    max-width: 580px;
    line-height: 28px;
}

#About-Me-Container a:hover {
    color: #87da84;
}

.green-text {
    color: #87da84;
}
/* General CSS End */

/* Header Start */
#main-container {
    width: 80%;
    max-width: 1170px;
    height: 100%;
    margin: 0px auto;
    transition: 0.5s;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 0 85px 0;
}

#home {
    margin: 0 80px 10px 0;
}

#home a {
    font-weight: 300;
}

#header-top {
    margin-top: 5px;
}

#CTA {
    font-weight: 300;
    border-style: solid;
    border-width: 0.2px;
    border-color: #ffffff;
    padding: 7px;
    border-radius: 25px;
}

#CTA:hover {
    background-color: #87da84;
    border-color: #000000;
    color: #000000;
}

/* Header End */

/* About Start */
#about-container {
    margin-bottom: 150px;
    max-width: 772px;
}

.about-big-text {
    max-width: 800px;
    font-size: 32px;
    font-weight: 300;
    line-height: 43px;
    margin-bottom: 10px;
}

#about-container p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
    max-width: 590px;
}

#about-container a:hover {
    text-decoration: underline;
}

#circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: rgb(0, 206, 69);
}

#about-para {
    max-width: 810px;
    font-size: 22px;
    color: #a6a39e;
    line-height: 32px;
}

#about-paragraph span {
    text-decoration: underline;
}

/* About End */

/* Work Start */
#work-container {
    margin-bottom: 120px;
}

#sub-heading {
    margin: 30px 0 50px 0;
    border-bottom: 1px solid #fff;
    border-width: thin;
    padding-bottom: 10px;
}

#sub-heading p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

#work-container h1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

#work-container p {
    margin-bottom: 5px;
    line-height: 24px;
}

.tag {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 35px;
}

.work-item {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 100px;
}

.work-item img {
    width: 100%;
}

section {
    width: 100%;
}

.learnmore-btn {
    font-weight: 300;
    font-size: 15px;
    border-style: solid;
    border-width: 0.2px;
    border-color: #ffffff;
    padding: 7px;
    border-radius: 25px;
}

.learnmore-btn:hover {
    background-color: #87da84;
    border-color: #000000;
    color: #000000;
}

/* Work End */

/* Project Start */
.project-container p {
    font-size: 15.5px;
}

.project-overview {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 95px;
}

#img-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    transform: scale(1.1);
}

#project-intro-img {
    max-width: 1385px;
    width: 100%;
    z-index: -1;
}

.project-introduction {
    line-height: 59px;
    max-width: 1170px;
    margin: 10px auto 85px auto;
    font-size: 40px;
    background-color: #1d1d1d;
    padding: 35px 45px 35px 45px;
    z-index: 1;
    position: relative;
}

#project-intro {
    margin: 115px 0 90px 0;
}


#project-title {
    font-size: 55px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 25px;
}


#project-brief {
    font-size: 24px;
    max-width: 650px;
    line-height: 38px;
}

#project-info {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 20px;
}

#project-info div {
    margin: 0 10% 20px 0;
}

#project-info h5, #project-info a {
    color: #ffffff;
}

.project-description {
    max-width: 400px;
    margin-bottom: 45px;
    line-height: 22px;
}

.project-link:hover {
    text-decoration: underline;
}

.project-overview-subheading {
    font-size: 25.5px;
    line-height: 36px;
    margin: 0 0 25px 0;
    font-weight: 300;
}

.project-info-subheading {
    font-size: 18px;
    /* font-weight: 300; */
    margin-bottom: 6px;
}

.project-details {
    font-size: 16px;
    font-weight: 300;
    /* margin: 0 0 20px 0; */
    line-height: 25px;
}

.project-details a {
    font-size: 16px;
}

.project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 1350px;
}

.project-content-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 50px 0;
}

.project-content-sections p {
    font-size: 16px;
    line-height: 23px;
    margin: 2px 0 45px 0;
}

.project-content-sections div {
    max-width: 650px;
}

.project-content-sections-headings {
    margin-bottom: 10px;
}

.project-content-sections h2 {
    margin: 0 0 25px 0px;
    font-size: 26px;
    font-weight: 300;
}

.project-content-sections h3 {
    color: #ffffff;
    margin: 0 0 15.5px 0;
    margin-bottom: 8.5px;
    font-weight: 400;
}

.project-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.project-graphs img {
    width: 80%;
    height: 30%;
}

.project-mobile img {
    width: 21.5%;
}

.project-mobile img:nth-child(1), .project-mobile img:nth-child(2) {
    margin-right: 25px;
}

.project-img {
    margin-bottom: 10px;
}

.project-img-caption {
    margin: 15px 0 60px 0;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: 400;
}

.next-project {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.next-project-subheading {
    /* font-family: 'Shippori Mincho', serif;             */
    font-size: 25.5px;
    line-height: 36px;
    margin:0 0 3px 0;
    font-weight: 500;
}

.next-project-title {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.next-project-title svg {
    display: none;
    fill: #ffffff;
} 

.next-project-title svg {
    display: block;
    position: relative;
    transform: translate(0, 0);
    opacity: 0;
}

.next-project-title:hover svg {
    transform: translate(5px, 0);
    opacity: 1;
    transition: 0.5s;
} 

.back-top {
    cursor: pointer;
}

/* Project End */

/* Footer Start */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 100px 0;
    padding-top: 12px;
}

#footer-text {
    max-width: 410px;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#Links a {
    font-size: 18px;
}

#Links a:hover {
    color: #87da84;
}
/* Footer End */

/* Moodboard Start */
#moodboard-paragraph {
    width: 100%;
    max-width: 480px;
    line-height: 36px;
    margin-bottom: 90px;
    font-size: 25px;
}

.moodboard-images {
    width: 100%;
    margin-bottom: 5em;
}

/* Moodboard End */

/* Media Queries Start */
@media only screen and (min-width: 405px) {
    #home {
        margin-bottom: 18px;
    }

    #header-top {
        margin-top: 0;
    }

    .learnmore-btn {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 425px) {
    #header-top {
        margin-top: 0;
    }

    #project-yt-video {
        height: 375px;
    }
}

@media only screen and (min-width: 625px) {
    .work-item {
        margin-bottom: 150px;
    }
    
    #footer-top {
        margin-top: 0;
    }   
}

@media only screen and (min-width: 740px) {
    #about-self-img {
        max-width: 350px;
    }

    #about-information {
        margin: 0;
    }

    #project-yt-video {
        height: 500px;
    }

    .profile-test {
        margin: 30px 0 0 0;
    }

    #profile-interest-container {
        margin-top: 35px;
    }

    .project-img-caption {
        margin-bottom: 100px;
    }

    .project-content-sections {
        margin: 120px 0 100px 0;
    }

    #footer-text {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {

    #col-message {
        display: block;
        width: 234px;
    }

    .project-content-sections h2 {
        margin: 0 0 25px 0;
        font-size: 25.5px;
    }

    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #f7f4ee81; */
        /* padding: 60px; */
        /* box-shadow: 0.5px 0.5px 2px 0.5px #e2e2e2; */
    }

    #project-yt-video {
        height: 550px;
    }
}

@media only screen and (min-width: 1000px) {
    .work-item {
        margin-bottom: 80px;
    }

    .test {
        margin: 0 0 105px 0;
    }

    #project-yt-video {
        height: 720px;
    }

    #work-container a {
        margin-top: 0px;
    }

    .project-content-sections h2 {
        max-width: 230px;
    }

    .project-img-caption {
        margin-bottom: 150px;
    }

    #work-container p {
        line-height: 25px;
    }

    .learnmore-btn {
        margin-top: 0px;
    }

    .work-item-flex { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #About-Me-Container {
        gap: 17px;
       }    
}

@media only screen and (min-width: 1400px) {

   /* #About-Me-Container {
    gap: 17px;
   } */

   
}

@media only screen and (min-width: 1500px) {
    
    .work-item img {
        max-width: 590px;
    }

    .work-item section {
        max-width: 550px;
    }
}
/* Media Queries End */

.fade-in {
    animation: fadeIn ease 1.3s;
    -webkit-animation: fadeIn ease 1.3s;
    -moz-animation: fadeIn ease 1.3s;
    -o-animation: fadeIn ease 1.3s;
    -ms-animation: fadeIn ease 1.3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }